*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Open Sans', sans-serif;

}

/*Cabecera*/
.cabecera 
{
  background: rgb(59,19,71);
}
.navegador
{
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   
   list-style: none;
   margin: auto; 
   background-image: url("../img/inicio/rayos.png");
   background-position:10px;
   background-repeat: repeat;

 }
 
 .navegador a {
   text-decoration: none;
   display: block;
   padding: 1em;
   color: white;
   font-size: x-large;

 }
 
 .navegador a:hover {
   background: #8cccf5;
   width: 100%;
   height: 100%;
   border-radius: 50%;
 }
 
 @media all and (max-width: 800px) {
   .navegador {
     justify-content: space-between;
   }
 }
 
 @media all and (max-width: 600px) {
   .navegador {
     flex-flow: column wrap;
     padding: 0;
     
   }
   .cabecera_img{
   margin: 0;
   display: block;
   margin-left: auto;
   margin-right: auto;
   }
   .navegador a { 
     text-align: center; 
     padding: 10px;
     border-top: 1px solid rgba(255, 255, 255,0.3); 
     border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
   }
   .navegador li:last-of-type a {
     border-bottom: none;
   }
 }

 .cabecera_img
 {
     height:60px;
     width: 100px;
 }

 .tittle
 {
   color: white;
   padding: 1em;
   font-size: x-large;
 }


  .footer {
    background: rgb(59,19,71);
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    color: white;
  }
  /*Cuerpo*/
  .main {
    text-align: center;
    background: blanchedalmond;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    background-image: url('../img/fondo.png');
  }
  

.cuerpo {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; 
}

.cuerpo > * {
  padding: 20px;
  flex: 1 100%;
}


  
  @media all and (min-width: 600px) {
    .lateral { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .lateral-1 { order: 1; } 
    .main    { order: 2; }
    .lateral-2 { order: 3; }
    .footer  { order: 4; }
  }
  
/*Selección de jugadores*/

  .jugadores
  {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      height: 100vh;
      list-style: none;
  }
  li
  {
      text-align: center;
      display: flex;
      flex-direction: column;
  }

  .jugadoresSeleccion
  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 80vh;
    list-style: none;
  }

  .marco
  {
 
    background-color: white;
    border-radius: 50%;
  }
/* formulario para registrar jugadores*/

  .form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: 2%;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;


  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }


  
  select
  {
    background-color: #24303c;
    color: white;
    border:1px solid #1f53c5;
    border-radius: 4px;
  }

  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  .botons:hover
  {
    cursor: pointer;
  }

  .mas
  {
    height: 15%;
    background-color: yellowgreen;
    color: white;
    font-size: 200px;
    display: flex;
    align-content: center;
    border-radius: 5%;
    margin-top: 400px;
    margin-left: 100px;
    list-style: none;
    box-shadow: 7px 13px 37px #000;
    border-color: black;
  }

  .mas:hover
  {
    cursor: pointer;
  }

  .seleccion
  {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: yellowgreen;
    border-radius: 10%;
    border:2px solid black;
  }

  .seleccion:hover
  {
    cursor: pointer;
  }
  .oculto
  {
    display: none;
  }

  .cerrar
  {
    text-align: right;
  }

  .cerrar:hover
  {
    cursor: pointer;
  }

  .botones
  {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }

  .botones:hover
  {
    cursor: pointer;
  }

/*para javascript modal para galeria  */

.modalContainer
{
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modalContainer .modal-content
{
  display: flex;
  justify-content:space-around;
  align-items: revert;
  flex-direction: row-reverse;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  animation-name: modal;
  animation-duration: 3s;
  margin-top: 30%;
}

@keyframes modal
{

  from{top:-330px; opacity: 0;}
      to{top: 0; opacity: 1;}
  
}




.modalContainer .close 
{
  color: #aaaaaa;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
  
}

@media all and (max-width: 900px)
{
  .close .modalContainer {
    color: #aaaaaa;
    position:absolute;
    left: 850px;
    bottom: 95%;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
}


.modalContainer .close:hover,
.modalContainer .close:focus 
{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.imagenes
{
  border-radius: 50%;
}

/*para javascript modal para galeria panel 2  */

.modalContainer2
{
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modalContainer2 .modal-content2
{
  display: flex;
  justify-content:space-around;
  align-items: revert;
  flex-direction: row-reverse;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  animation-name: modal2;
  animation-duration: 3s;
  margin-top: 30%;
}

@keyframes modal2
{

  from{top:-330px; opacity: 0;}
      to{top: 0; opacity: 1;}
  
}




.modalContainer2 .close2
{
  color: #aaaaaa;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
  
}

@media all and (max-width: 900px)
{
  .close2 .modalContainer2 {
    color: #aaaaaa;
    position:absolute;
    left: 850px;
    bottom: 95%;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
}


.modalContainer2 .close2:hover,
.modalContainer2 .close2:focus 
{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.imagenes2
{
  border-radius: 50%;
}

/*para javascript modal para galeria panel 3  */

.modalContainer3
{
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modalContainer3 .modal-content3
{
  display: flex;
  justify-content:space-around;
  align-items: revert;
  flex-direction: row-reverse;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  animation-name: modal3;
  animation-duration: 3s;
  margin-top: 30%;
}

@keyframes modal3
{

  from{top:-330px; opacity: 0;}
      to{top: 0; opacity: 1;}
  
}




.modalContainer3 .close3
{
  color: #aaaaaa;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
  
}

@media all and (max-width: 900px)
{
  .close3 .modalContainer3 {
    color: #aaaaaa;
    position:absolute;
    left: 850px;
    bottom: 95%;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
}


.modalContainer3 .close3:hover,
.modalContainer3 .close3:focus 
{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.imagenes3
{
  border-radius: 50%;
}

/*para javascript modal para galeria panel 4  */

.modalContainer4
{
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modalContainer4 .modal-content4
{
  display: flex;
  justify-content:space-around;
  align-items: revert;
  flex-direction: row-reverse;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  animation-name: modal4;
  animation-duration: 3s;
  margin-top: 30%;
}

@keyframes modal4
{

  from{top:-330px; opacity: 0;}
      to{top: 0; opacity: 1;}
  
}




.modalContainer4 .close4
{
  color: #aaaaaa;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
  
}

@media all and (max-width: 900px)
{
  .close4 .modalContainer4 {
    color: #aaaaaa;
    position:absolute;
    left: 850px;
    bottom: 95%;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
}


.modalContainer4 .close4:hover,
.modalContainer4 .close4:focus 
{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.imagenes4
{
  border-radius: 50%;
}